body {
    background-image: url('/static/dbms/bank.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
@media only screen and (min-device-width: 400px) {
    body {
        background-image: url('/static/dbms/bank.jpg');
         background-repeat: no-repeat;
         background-size: cover;
    }
}

body{
font-weight: bold;
}

.container-fluid{
  position: cover;
  margin: 10px;
  width: auto;
}

.navbar {
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.navbar a {
  float: right;
  color: white;
  text-align: right;
  margin: 6px;
  padding: 4px 6px;
  text-decoration: none;
  font-size: 20px;
  font-style: italic;
}

.navbar a:hover{
    color: white;
    text-decoration: none;
    margin: 6px;
    padding: 4px 6px;
    font-style: italic;
}

h1{
  color: black;
  font-weight: bold;
  font-size: 40px;
  text-align: center;
  font-family: Georgia;
  font-style: italic;
}

p{
  color: black;
  font-weight: bold;
  text-align: center;
  font-family: Georgia;
  font-style: italic;
  font-size: 40px;
  margin: 100px 0 0 0;
}

h2{
  color: black;
  text-align: center;
  font-family: Georgia;
  font-style: italic;
  font-size: 40px;
  margin: 100px 0 0 0;
}

.container{
  /* align-items: center; */
  text-align: center;
}
i{
  color: white;
  margin:  170px 0 0 5px;
}

.container-fluid{
  font-weight: bold;
  font-family: Georgia;
  font-style: italic;
}
* {
  box-sizing: border-box;
}
.row {
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin: 0 -5px;
}

.column {
  float: left;
  width: 25%;
  padding: 0 10px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}

.card {
  text-align: center;
  background-color: transparent;
  align-items: center;
  margin-bottom: 20px;
}

h3{
  font-weight: bold;
  text-align: center;
  margin-top: 20px;
}
